.change {
    font-family: Arial;
    color: #667;
    padding: 0px 0px 0px 25%;

}

.done {
    text-decoration: line-through;
    color: #999;
}

p, h4{
    font-family: Arial;
    color: #667;
    padding: 0px 0px 0px 25%;
}

#checklist{
    font-family: Arial;
    color: #667;
    padding: 0px 150px 0px 35%;
}
