.change {
    padding: 0 20%;
    font-family: Arial;
    color: #666;
    background: #333;
    text-shadow: 2px 2px #ff0000;
}
main{
    padding: 0 20%;
    color: #666;
}
img{
    width: 200px;
}

.hide {
    display: none;
}